<h5 class="listTitle">Monster Viewer</h5>
<div class="input-group mb-3 search-box">
  <input type="text" class="form-control" placeholder="Search..."   [(ngModel)]="search">
  <div class="input-group-append">
    <span class="input-group-text" id="basic-addon2"><mat-icon>search</mat-icon></span>
  </div>
</div>

<table mat-table class="table table-responsive">
  <ng-container *ngFor="let item of items | monsterFilter: search">
  <tr> <td class="list" (click)="selectItem(item)">{{item.name}}</td></tr> 
  <!--<tr *ngIf="items">{{items}}</tr>-->
  </ng-container>
</table>


