
.list{
    border-color: black;
    border-width: 1px;
    padding: 5px;
    background-color: rgb(9, 133, 204);
    color: white;
    width: 500px;
}
.listTitle{
    padding: 3px;
    text-align: center;
}
.search-box{
    padding: 3px;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }
    
  }