@import '/src/styles.scss';
.list{
    border-color: black;
    border-width: 1px;
    padding: 5px;
    background-color: #320053;
    color: white;
    width: 100%;
    display: flex;
}
.list:hover{
    background-color: #54008C;
    cursor: pointer;
}
.listTitle{
    padding: 3px;
    margin-top: 8px;
    text-align: center;
}
.search-box{
    padding: 3px;
    
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    //height: 80vh; 
    
    border-bottom: solid #320053 5px;
    
    .mat-table {
        width: 100%;
        
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }
    
  }
.table-row{
    width: 100%;
}
  .table-wrapper::-webkit-scrollbar{
    width: 0.25rem;
}
.table-wrapper::-webkit-scrollbar-track{
    background: #131313;
}
.table-wrapper::-webkit-scrollbar-thumb{
    background: grey;
}
.form-control{
    background-color: #54008C;
    border-color: #54008C;
    color: white;
}
.form-control::placeholder{
    color: rgb(199, 199, 199);
}
.table-wrapper{
    
    height: calc(95vh - 84px);
    
    overflow-y: auto;
}

.iconButton{
    
    background-color: transparent;
    width: 30px;
    height: 30px;
    padding: 0px;
    margin-left: auto;
    margin-right: 5px;
    margin-top: -10px;
    border-radius: 3px;
    border: none;
    transition-duration: 0.2s;
    .icon{
        font-size: 25px;
        color:  rgb(39, 156, 192);
        padding: 0px;
        
    }
}
.iconButton:hover{
    color: white;
    .icon{
        font-size: 25px;
        color:  rgb(0, 195, 255);
        padding: 0px;
    }
}