<div class="toolbar">
    <div class="toolbar-row">
        <h2>Damage Creature</h2>
        <div class="topButtons">
            <button class="closeBtn" (click)="close()"><mat-icon class="closeIcon">close</mat-icon></button>
        </div>
    </div>
</div>

<div class="content">
        <input [(ngModel)]="result" class="inputBox" type="number" id="damageBox"  matTooltip="Amount of Damage/Healing to do" [matTooltipPosition]="'below'" [matTooltipShowDelay]="600"><br>
        <button class="dmgbtn btn btn-success" (click)="heal()">Heal</button>
        <button class="dmgbtn btn btn-danger" (click)="dmg()">Damage</button>
        

</div>
