@import '/src/styles.scss';
ul {
    margin: 0 auto;
    text-align: center;
}

li {
    display: inline-block;
    vertical-align: top;
}
.center{
    text-align: center;
    justify-content: center;
    
}
.next-turn{
    
    
    background-color: $base-color;
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    transition: 0.15s;
}
.next-turn:hover{
    background-color: $hover-color;
    transform: scale(1.05);
    box-shadow: 5px 5px 5px black;
}
.next-turn:active{
    transform: translateY(2px);
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.flex-container > div{
   
    width: 315px;
    height: 220px;
    border-radius: 4px;
    margin: 10px;
    //text-align: center;
    
    //justify-content: center;
    //align-items: center;
    display: flex;
    line-height: 35px;
    font-size: 18px;
    padding: 0 0px;
    position: relative;
    
}
.specialBtn{
    width: 75px;
    height: 35px;
}
.selected{
    background-color: $base-color;
    outline: solid 2px rgb(161, 5, 161);
    
}
.standard{
    background-color: $card-color ;
}
.inline{
    display: inline;
}
.margin{
    margin: 10px;
}