<h1>Initiative Tracker</h1>
<div class="grid-container">
    <h4 *ngIf="!items[0]">Click Create Room to Start</h4>
    <h4 *ngIf="start">Room Code: {{tracker.id}}</h4>
    <button *ngIf="!start" (click)="createRoom()" href="" class="btn btn-primary mb-2">Create Room</button>
    <button *ngIf="items[0]" (click)="nextTurn()" class = "btn btn-success">Next Turn</button><br>
    <ul style="list-style-type:none; padding: 0px 0px; display: inline;" class="bg-dark text-light">
        <li class="col-sm-3 bg-dark text-light" style="padding: 4px;" *ngFor="let nitem of items">
            <div *ngIf="nitem">
            <app-initiative-item (duplicate) = "duplicate(nitem.order)" (moveUp)="moveUp(nitem.order)" (sortItems)="sortItems()" 
            (removeItems)="removeItem(nitem.order) " (refresh)="refreshServer()"
            [selected]="spotInOrder" [item]="nitem"></app-initiative-item>
            </div>
        </li>
        <li>
            <button *ngIf="start" (click)="addBlankItem()" href="" class="btn btn-primary mb-2">ADD</button>
            <br>
            <button *ngIf="items[0]" (click)="clearItems()" href="" class="btn btn-danger">CLEAR</button>
        </li>
    </ul>
</div>

