        <div class="toolbar">
          <div class="toolbar-row">
           <input (keyup)="edit()" class="item-name" id="item-name"  [(ngModel)]="item.name" placeholder="name">
           <div class="topButtons">
             <p>{{ac}}</p>
             <!--button *ngIf="item.showMove" matTooltip="Move Up" [matTooltipPosition]="'above'" [matTooltipShowDelay]="450"  (click)="moveUpwards()" class="iconButton"><mat-icon class="icon">west</mat-icon></button>
             <button matTooltip="Duplicate" [matTooltipPosition]="'above'" [matTooltipShowDelay]="450" (click)="dup()" class="iconButton"><mat-icon class="icon">content_copy</mat-icon></button>
             <button matTooltip="Remove" [matTooltipPosition]="'above'" [matTooltipShowDelay]="450" (click)="remove()" class="iconButton"><mat-icon class="icon">delete</mat-icon></button-->
           </div>
          </div>
          
        </div>
        <div class="flexTainer">
          <div class="marg">
            <div class="flexTainer">
            <input (change)="edit()" class="inputBox item-hp"  type="number" id="item-hp{{item.order}}"  [(ngModel)]="item.hp" placeholder="HP">&nbsp;/
            <input (change)="edit()" class="inputBox item-maxHp" type="number" id="item-maxHp{{item.order}}"  [(ngModel)]="item.maxHp" placeholder="HP">
            <div class="break"></div>
            <button (click)="openDamageMenu()">Dmg</button>
          </div>
            </div>
            <div class="marg">
              <label for="item-roll{{item.order}}">Initative:&nbsp;</label>
              <input class="inputBox item-roll" (change)="sort()" type="number" id="item-roll{{item.order}}" [(ngModel)]="item.roll" placeholder="Initative">
            </div>
            <div>
              <label for="item-roll"></label>
              <textarea class="inputBox notes" [(ngModel)]="item.notes" placeholder="Notes"></textarea>
            </div>
        </div>
          <div class="toolbar-b">
            <div class="toolbar-row">
            <a (click)="linkClicked()" class="link"><mat-icon matTooltip="Link Monster" [matTooltipPosition]="'below'" [matTooltipShowDelay]="150" *ngIf="item.url =='none'" class="link-icon">link</mat-icon> <div *ngIf="item.url !='none'">{{monsterName}}</div></a>
            <div class="botButtons">
              <!--a (click)="unlink()" class="link"><mat-icon matTooltip="Unlink" [matTooltipPosition]="'below'" [matTooltipShowDelay]="150" class="link-icon link-break" *ngIf="item.url !='none'">favorite</mat-icon></a>
              <a (click)="unlink()" class="link"><mat-icon matTooltip="Unlink" [matTooltipPosition]="'below'" [matTooltipShowDelay]="150" class="link-icon link-break" *ngIf="item.url !='none'">link_off</mat-icon></a-->
                <button *ngIf="item.showMove" (click)="moveUpwards()" matTooltip="Move Up" [matTooltipPosition]="'below'" [matTooltipShowDelay]="150" class="iconButtonB"><mat-icon class="icon">west</mat-icon></button>
                <button (click)="dup()" matTooltip="Duplicate" [matTooltipPosition]="'below'" [matTooltipShowDelay]="150" class="iconButtonB"><mat-icon class="icon">content_copy</mat-icon></button>
                <button (click)="remove()" matTooltip="Delete" [matTooltipPosition]="'below'" [matTooltipShowDelay]="150" class="iconButtonB"><mat-icon class="icon">delete</mat-icon></button>
              <button matTooltip="Options" [matTooltipPosition]="'below'" [matTooltipShowDelay]="150" [matMenuTriggerFor]="menu" class="iconButtonB"><mat-icon class="icon">more_horiz</mat-icon></button>
              <mat-menu #menu="matMenu" class="menuClass">
                <button class="menuItem" (click)="rollInitiative()" mat-menu-item>Roll Initiative</button>
                
                <ng-container *ngIf="item.url !='none'">
                <button class="menuItem" (click)="setHealth()" mat-menu-item>Set Health</button>
                <button class="menuItem" (click)="rollHealth()" mat-menu-item>Roll Health</button>
                <button class="menuItem" (click)="unlink()" mat-menu-item>Unlink</button>
                </ng-container>
                
              </mat-menu>
            </div>
            
          </div>
          </div>
        

        

        

