        <div class="toolbar">
          <div class="toolbar-row">
           <input (keyup)="edit()" id="item-name"  [(ngModel)]="item.name" placeholder="name">
           <div class="topButtons">
             <button *ngIf="item.showMove" matTooltip="Move Up" [matTooltipPosition]="'above'" [matTooltipShowDelay]="450"  (click)="moveUpwards()" class="iconButton"><mat-icon class="icon">west</mat-icon></button>
             <button matTooltip="Duplicate" [matTooltipPosition]="'above'" [matTooltipShowDelay]="450" (click)="dup()" class="iconButton"><mat-icon class="icon">content_copy</mat-icon></button>
             <button matTooltip="Remove" [matTooltipPosition]="'above'" [matTooltipShowDelay]="450" (click)="remove()" class="iconButton"><mat-icon class="icon">delete</mat-icon></button>
           </div>
          </div>
          
        </div>
        <div class="flexTainer">
          <div class="marg">
            <label for="item-hp">HP: </label>
            <input class="inputBox " type="number" id="item-hp"  [(ngModel)]="item.hp" placeholder="HP">
          </div>
            <div class="marg">
              <label for="item-roll">Initative: </label>
              <input class="inputBox" (change)="sort()" type="number" id="item-roll" [(ngModel)]="item.roll" placeholder="Initative">
            </div>
            <div>
              <label for="item-roll">Notes: </label>
              <textarea class="inputBox notes" [(ngModel)]="item.notes" placeholder="Notes"></textarea>
            </div>
        </div>
          <div class="toolbar-b">
            <a class="link"><mat-icon class="link-icon">link</mat-icon></a>
          </div>
        

        

        

