        <div style="margin-bottom: 20px;">
        <h5>{{item.order}}: <input (keyup)="edit()" class="inputBox" id="item-name"  [(ngModel)]="item.name" placeholder="name"></h5>
        </div>
        <div class="flexTainer">
          <div class="marg">
            <label for="item-hp">HP: </label>
            <input class="inputBox " type="number" id="item-hp"  [(ngModel)]="item.hp" placeholder="HP">
          </div>
            <div class="marg">
              <label for="item-roll">Initative: </label>
              <input class="inputBox" (change)="sort()" type="number" id="item-roll" [(ngModel)]="item.roll" placeholder="Initative">
            </div>
          </div>
        

        
          <div style="display: flex; flex-wrap: wrap; justify-content: center;">
          <div *ngIf="item.showMove" style="display: inline">
            <button  (click)="moveUpwards()" href="#" class=" btn btn-primary mar">Move Up</button>
          </div>
          
          <button (click)="dup()" href="#" class=" btn btn-success mar">Duplicate</button>
          
          <button (click)="remove()" href="#" class=" btn btn-danger mar">Remove</button>
        </div>

        

        

