
<div class="center" *ngIf="!inRoom()">
    <h1 style="margin-top: 10px;">Initiative Tracker</h1>
    <hr>
    <div class="flexC">
        <input class="joinBox" [(ngModel)]="id" type="text" placeholder="Enter Code Here">
        <button style="margin-left: 1rem;" class="btn btn-primary mb-2 joinButton" (click)="joinRoom()">Join Room</button>
    </div>
    <p style="color: red;">{{error}}</p>
</div>
<div  class="center" *ngIf="inRoom()">
    <h1 style="margin-top: 10px;" class="current">Current turn: {{currentTurn()}}</h1>
    <h3>Round: {{tracker.round}}</h3>
    <p (click)="logTracker()">Room Code: {{tracker.id}}</p>
    <hr>
    <div class="flex-container">
        <div class="base" [class]="nitem.order == tracker.turn ? 'selected': 'standard'" *ngFor="let nitem of tracker.items">
            {{nitem.name}}
        </div>
    </div>
</div>
