<nav class="navbar navbar-expand navbar-dark">
    <a style="padding: 5px;"  routerLink="/home" class="navbar-brand" href="#"><img class="filterColor" src="assets/logo2.svg" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="font-size: 20px;">
        <a routerLink="/home" routerLinkActive="active" class="nav-item nav-link" >Home<span class="sr-only"></span></a>
        <a routerLink="/tracker" routerLinkActive="active" class="nav-item nav-link" >Create</a>
        <a routerLink="/join" routerLinkActive="active" class="nav-item nav-link" >Join</a>
        <!--a routerLink="/spellslots" routerLinkActive="active" class="nav-item nav-link" href="#">Spell Slots</a!-->
        
      </div>
    </div>
  </nav>

  
<body class="text-light">
  <div class="d-flex" id="wrapper">
    <div *ngIf="viewerOpen" class="border-end" id="sidebar-wrapper">
      <app-monster-viewer></app-monster-viewer>

    </div>


    <!--Page Content-->
    <div class = "container-fluid">
    
      <router-outlet (activate)="refreshViewer()"></router-outlet>
    </div>
  </div>


</body>