<div class="toolbar">
    <div class="toolbar-row">
        <h2>Settings</h2>
        <div class="topButtons">
            <button class="closeBtn" (click)="close()"><mat-icon class="closeIcon">close</mat-icon></button>
        </div>
    </div>
</div>

<div class="content">
  <input [(ngModel)]="autoNaming" (change)="checkNaming($event)" class="checkBox" type="checkbox" id="aNaming">
  <label matTooltip="After linking an item to a monster, automatically changes the name of the item to the monster's name." [matTooltipPosition]="'below'" [matTooltipShowDelay]="600" class="checkLabel" for="aNaming">
      &nbsp;Automatic Naming</label><br>
  <input [(ngModel)]="autoAC" (change)="checkAC($event)" class="checkBox" type="checkbox" id="AC">
  <label matTooltip="After linking an item to a monster, automatically puts the monsters Armor Class in the notes." [matTooltipPosition]="'below'" [matTooltipShowDelay]="600" class="checkLabel" for="AC">
      &nbsp;Put AC in notes</label><br>
  <input [(ngModel)]="autoInitRoll" (change)="checkInitRoll($event)" class="checkBox" type="checkbox" id="aRoll">
  <label matTooltip="After linking an item to a monster, automatically rolls the monsters initiative." [matTooltipPosition]="'below'" [matTooltipShowDelay]="600" class="checkLabel" for="aRoll">
      &nbsp;Automatic Initiative Roll</label><br>
  <input [(ngModel)]="autoAvgHealth" (change)="checkAvgHealth($event)" class="checkBox" type="checkbox" id="AHealth">
  <label matTooltip="After linking an item to a monster, automatically changes HP to the monsters average Hit Ponts. Can't have this and Automatic Roll Health at the same time." [matTooltipPosition]="'below'" [matTooltipShowDelay]="600" class="checkLabel" for="AHealth">
        &nbsp;Automatic Average Health</label><br>
  <input [(ngModel)]="autoHealthRoll" (change)="checkHealthRoll($event)" class="checkBox" type="checkbox" id="ARHealth">
  <label matTooltip="After linking an item to a monster, automatically rolls the monsters health. Can't have this and Automatic Average Health at the same time." [matTooltipPosition]="'below'" [matTooltipShowDelay]="600" class="checkLabel" for="ARHealth">
      &nbsp;Automatic Roll Health</label><br>
  


</div>
