/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 3rem;
    font-size: 1.2rem;
}
.border-end {
    border-right: 1px solid #dee2e6 !important;
}
#sidebar-wrapper {
    min-height: 100vh;
    
    
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
