/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
$base-color: #54008C;
$hover-color: #42006e;
$background-color: #1f1f1f;
$card-color: #353535;

mat-dialog-container {
    background-color: #131313 !important;
    padding: 0px 0px 0px 0px !important;
    color: white !important;
    border-radius: 6px !important;
    
  }

  @media (max-width:700px){
    .monsterLookup{
        width: 90%;
        height: 85%;
        //background-color: #8b2323 !important;
        
      }

  }
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 3rem;
    font-size: 1.2rem;
}
.border-end {
    border-right: 1px solid #dee2e6 !important;
}
#sidebar-wrapper {
    min-height: 100vh;
    
    
}


//html, body { height: 100%; }
body {  height: 100vh; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #1f1f1f; }

body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background: #131313;
}
body::-webkit-scrollbar-thumb{
    background:grey;
}

.modal-content {
    background: transparent;
}

  .monsterLookup{
    width: 50%;
    height: 80%;
    
    //background-color: #8b2323 !important;
    
  }
  